/* predefined class */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Navbar */
header{
    /* position: fixed; */
    right: 0;
    top: 0;
    z-index: 1000;
    padding: 35px 9.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.logo{
    width: auto;
    height: 30%;
}

.navlist{
    display: flex;
    list-style-type: none;
}

.navlist a{
    color: #484f4f;
    margin-left: 60px;
    font-size: 19px;
    font-weight: 600;
    transition: all .55s ease; 
    font-family: 'Maven Pro', sans-serif;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.navlist a:hover{
    border-bottom: 2px solid #484f4f;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.section1{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.section1_img img{
    height: auto;
    width: 650px;
}

.section1_info{
    background-color: #02041b;
    font-family: 'Maven Pro', sans-serif;
    height: 440px;
    width: 380px;
}

.section1_info h1{
    color: #e2d274ec;
    padding: 0 10%;
}

.section1_info h3{
    color: white;
    padding: 0 10%;
}

.section1_info h4{
    color: white;
    padding: 0 10%;
    font-weight: 100;
}

.section1_info hr{
    color: white;
    width: 80%;
}

.section2{
    display: flex;
    justify-content: space-between;
}

.section2 h1{
    font-family: 'Maven Pro', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.section3{
    font-family: 'Maven Pro', sans-serif;
}

.section3 h4{
    padding: 0%;
    margin-top: 40px;
    font-weight: 200;
}

.section3 button{
    background-color: #e05c28;
    color: whitesmoke;
    padding: 3% 10%;
    border: transparent;
}

.section_foot{
    font-family: 'Maven Pro', sans-serif;
    /* display: flex; */
    /* justify-content: space-between; */
}

/* .section_foot card1{
    display: flex;
    justify-content: space-between;
} */