/* predefined class */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
}

/* NAVBAR */

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background:white;
    padding: 1% 10%;
}

.logo{
    width: auto;
    height: 30%;
}

.navlist{
    display: flex;
    list-style-type: none;
}

.navlist a{
    color: #484f4f;
    margin-left: 40px;
    font-size: 19px;
    font-weight: 600;
    transition: all .55s ease; 
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.navlist a:hover{
    border-bottom: 2px solid #484f4f;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* NEWS SECTION */

.section1{
    margin-top: 70px;
    display: flex;
    justify-content:first baseline;
    gap: 20px;
    padding: 0 10%;
}

.section1_img img{
    height: 330px;
    width: 670px;
}

.section1_info{
    background-color: #02041b;
    height: auto;
    /* max-height: 490px; */
    width: 360px;
}

.section1_info h1{
    color: hsl(35, 77%, 62%);
    padding: 4.3% 10%;
}

.section1_info h3{
    color: white;
    padding: 0 10%;
}

.section1_info p{
    color: white;
    padding: 0 10%;
    font-weight: 100;
    font-size:15px;
}

.section1_info hr{
    color: white;
    width: 80%;
}

.section2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section2 h1{
    font-size: 40px;
    font-weight: 900;
}

.section3 h4{
    /* padding-top: 16%; */
    font-weight: 200;
}

.section3 button{
    background-color: hsl(5, 85%, 63%);
    color: whitesmoke;
    padding: 3% 10%;
    border: transparent;
    cursor: pointer;
    font-weight: 600;
}

.section3 button:hover{
    background-color: hsl(5, 86%, 48%);
}

/* CARDS SECTION */

.section_foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.card1{
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    gap: 20px;
}

.card1 img{
    width: 100px;
    height:130px;
}

.card1 h1{
    color: grey;
    font-size: 1.9rem;
    opacity: 55%;
}

.card2{
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    gap: 20px;
}

.card2 img{
    width: 100px;
    height:130px;
}

.card2 h1{
    color: grey;
    font-size: 1.9rem;
    opacity: 55%;
}

.card3{
    display: flex;
    align-items:last baseline;
    justify-content: space-between;
    gap: 20px;
}

.card3 img{
    width: 100px;
    height: 130px;
}

.card3 h1{
    color: grey;
    font-size: 1.9rem;
    opacity: 55%;
}

@media (max-width: 1030px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position:absolute;
        top:100%;
        right:-100%;
        width:300px;
        height:40vh;
        background-color: transparent;
        display:flex; 
        align-items:center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 0 0 5px;
    }
    .navlist.open{
        right: 0;
    }
    .section1{
        margin-top: 70px;
        display: flex;
        justify-content:first baseline;
        flex-direction: column;
        gap: 20px;
        padding: 0 10%;
    }
    .section2{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
    }
    .section_foot{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10%;
    }
}