/* predefined class */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Navbar */
header{
    /* position: fixed; */
    right:0;
    top:0;
    z-index: 1000;
    /* width: 100%; */
    padding:35px 9.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.logo{
    width: auto;
    height: 30%;
}

.navlist{
    display: flex;
    list-style-type: none;
}

.navlist a{
    color: black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease; 
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
